asn1crypto==0.24.0
backcall==0.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
decorator==4.4.0
future==0.17.1
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
lxml==4.3.4
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
python-telegram-bot==11.1.0
requests==2.22.0
six==1.12.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
